﻿@model List<PL.Models.ProductsModel>

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
   @{
       ViewBag.Title = "Edit";
       Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="product" class="mainSection">
    <div class="mainHead">
        <h1>Products</h1>
    </div>


    @using (Html.BeginForm("Delete","Products", Model, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h4 class="center">Delete</h4>
        <h6 class="center">Are you shure, that you want to delet selected data?</h6>
        <hr />

        <div class="row" id="productButtons">
            <input type="submit"  class="waves-effect waves-light btn btn-large" />
            <a href="@Url.Action("Products")" id="stop" class="waves-effect waves-light btn-large">Back
        </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="productTable">
                <table id="ProdTable" class="striped responsive-table">
                    <thead>
                        <tr>
                            <td>
                                <input type="checkbox" id="checkAll2" />
                                <label for="checkAll2">check all</label>
                            </td>
                            <th>Title</th>
                            <th>Product number</th>
                            <th>Required time</th>
                            <th>Project</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (PL.Models.ProductsModel prod in Model)
                    {
                            <tr>
                                <td>
                                    @Html.HiddenFor(model => prod.Id)
                                    <input type="checkbox" id="checkObject-@prod.Id.ToString()" />
                                    <label for="checkObject-@prod.Id.ToString()">check @prod.Id</label>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => prod.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => prod.Product_Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => prod.Time)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => prod.Project.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem => prod.Description)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>



    }
    <section
