﻿@model PL.Models.ProductsModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="product" class="mainSection">
    <div class="mainHead">
        <h1>Products</h1>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="productInputs">
            <h4 class="center">Edit</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "productName", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Name, "")
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Product_Number, new { htmlAttributes = new { @id = "productNumber", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Product_Number, "")
                    @Html.LabelFor(model => model.Product_Number)
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                       <label>Project</label><br />
                        @Html.DropDownListFor(model => model.Project.Title, new SelectList(ViewBag.plist), htmlAttributes: new { @class = "form-control" })
                        @*Html.LabelFor(model => model.Project.Title, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.ValidationMessageFor(model => model.Project.Title, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s6 pickbuttons" style="height: 3.8em">
                    @*<div id="minutesPick" class="numPickButton btn">Min: <span id="minutesSpan">0</span> </div>
                <div id="secondsPick" class="numPickButton btn">Sec: <span id="secondsSpan">0</span></div>*@
                    <label>Time</label><br />
                    @Html.EditorFor(model => model.Time)
                    @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="row input-field">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @id = "description", @type = "text", @class = "validate" } })
                @Html.ValidationMessageFor(model => model.Description, "")
                @Html.LabelFor(model => model.Description)
            </div>

            <div class="row" id="productButtons">
                <input type="submit" value="Save" class="waves-effect waves-light btn btn-large" />
                <a href="@Url.Action("Products")" id="stop" class="waves-effect waves-light btn-large" >Back
            </div>
        </div>
    }

</section>