﻿

@model PL.Models.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
     @{int val = 0; }

    $('#remove').click(function() {
        var url;
        var table = document.getElementById("ProdTable");
        checkboxes = table.getElementsByTagName("input");
        for( var indexCheck = 1; indexCheck < checkboxes.length; indexCheck++){
            if (checkboxes[indexCheck].checked) {
                var index = checkboxes[indexCheck].value;
                @val = index;
                url = '@Url.Action("Delete", "Products", new { id = val })';
                break;
            }
        }
        window.location.href = url;
    });

    function Del(){
        var url;
        var table = document.getElementById("ProdTable");
        checkboxes = table.getElementsByTagName("input");
        for( var indexCheck = 1; indexCheck < checkboxes.length; indexCheck++){
            if (checkboxes[indexCheck].checked) {
                var index = checkboxes[indexCheck].value;
                @val = index;
                url = '@Url.Action("Delete", "Products", new { id = val })';
                break;
            }
        }
        window.location.href = url;
    }


    $('#edit').click(function() {
        var url;
        var table = document.getElementById("ProdTable");
        checkboxes = table.getElementsByTagName("input");
        for( var indexCheck = 1; indexCheck < checkboxes.length; indexCheck++){
            if (checkboxes[indexCheck].checked) {
                var index = checkboxes[indexCheck].value;
                @val = index;
                url = '@Url.Action("Edit", "Projects", new { id = val })';
                break;
            }
        }
        window.location.href = url;
    });

    function Edit(){
        var url;
        var table = document.getElementById("ProdTable");
        checkboxes = table.getElementsByTagName("input");
        for( var indexCheck = 1; indexCheck < checkboxes.length; indexCheck++){
            if (checkboxes[indexCheck].checked) {
                var index = checkboxes[indexCheck].value;
                @val = index;
                url = '@Url.Action("Edit", "Projects", new { id = val })';
                break;
            }
        }
        window.location. = url;
    }

</script>


<section id="product" class="mainSection">
    <div class="mainHead">
        <h1>Products</h1>
    </div>


    <div id="productInputs">
        @Html.ValidationSummary(false)

        @using (Html.BeginForm("Products", "Products", FormMethod.Post, new { @class = "col s12", @name = "formInput" }))
        {
            @Html.AntiForgeryToken();

            <div id="productButtons">
                <a href="#" id="add" class="waves-effect waves-light btn-large" onclick="document.forms['formInput'].submit(); return false;"><i class="material-icons left">add</i>add</a>
                <a href="#" id="remove" onclick="Del()" class="waves-effect waves-light btn-large"><i class="material-icons left">remove</i>remove</a>
                <a href="#" id="edit"  onclick="Edit()" class="waves-effect waves-light btn-large"><i class="material-icons left">edit</i>edit</a>
            </div>


            
            <div class="row">
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id ="productName", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Name, "")
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Product_Number, new { htmlAttributes = new { @id = "productNumber", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Product_Number, "")
                    @Html.LabelFor(model => model.Product_Number)
                </div>
            </div>
            <div class="row">
                    <div class="input-field col s6">
                        @Html.DropDownListFor(model => model.ProjectID, new SelectList(ViewBag.plist), htmlAttributes: new { @class = "form-control" })
                        @Html.LabelFor(model => model.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                    </div>
                <div class="input-field col s6 pickbuttons" style="height: 3.8em">
                    @*<div id="minutesPick" class="numPickButton btn">Min: <span id="minutesSpan">0</span> </div>
                        <div id="secondsPick" class="numPickButton btn">Sec: <span id="secondsSpan">0</span></div>*@
                    <label>Time</label><br />
                    @Html.EditorFor(model => model.Time)
                    @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="row input-field">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @id = "description", @type = "text", @class = "validate" } })
                @Html.ValidationMessageFor(model => model.Description, "")
                @Html.LabelFor(model => model.Description)
            </div>

        }
    </div>
    <div id="productTable">
        <table id="ProdTable" class="striped responsive-table">
            <thead>
                <tr>
                    <td>
                        <input type="checkbox" id="checkAll2" />
                        <label for="checkAll2">check all</label>
                    </td>
                    <th>Title</th>
                    <th>Product number</th>
                    <th>Required time</th>
                    <th>Project</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PL.Models.ProductsModel prod in ViewBag.Produkty)
                {
                    <tr>
                        <td>
                            <input type="checkbox"  id= "checkObject-@prod.Id.ToString()"/>
                            <label for="checkObject-@prod.Id.ToString()">check @prod.Id</label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => prod.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => prod.Product_Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => prod.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => prod.Project.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => prod.Description)
                        </td>
                    </tr>
                }
            </tbody>
            </table>
        </div>

    </section>