﻿@System.Web.Optimization.Styles.Render("~/Content/materialize")
@System.Web.Optimization.Styles.Render("~/Content/main")
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
@System.Web.Optimization.Scripts.Render("~/bundles/materialize")
@System.Web.Optimization.Scripts.Render("~/bundles/main")
@model PL.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<section id="logoContainer" style="padding-top: 0">
    <div id="logoContainerHead">
        <h1>Production Light Control System</h1>
        <hr>
    </div>


    <div id="screenLogo">
        <div id="screenLogoContent">
            <img src="~/images/PTS_LOGO.png">
        </div>
    </div>

    <div id="HalfInContent">
        <div class="oneHalf">

            <div id="formContainer">
                <div id="loginHead">
                    <div class="table">
                        <div class="tableCell">
                            <h1>Log in to your account</h1>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm())
                {
                    <div class="inputrow">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "text", @id = "name", @placeholder = "Username" } })
                    </div>
                    <div class="inputrow">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "pass", @type = "password", @placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "")
                    </div>

                    <div id="buttons">
                        <input name="Btnvalue" id="login" type="submit" value="Login" />
                        <h1>OR</h1>

                        <input name="Btnvalue" id="continue" type="submit" value="Continue" onclick="location.href='@Url.Action("Index", "Settings", new {filter = "all" , sft = "N" })'" />

                    </div>
                }
            </div>
        </div>
        <div class="oneHalf" id="logoHalf">

            <div id="logoMain">
                <div id="logoMainContent">
                    <img src="~/images/PTS_LOGO.png">

                </div>
            </div>

        </div>

        <div id="imageContainer">
            <div class="table">
                <div class="tableCell">
                    <div id="loginLogos">
                        <img id="autsys" src="~/images/autsys.png">
                        <img id="jobelsa" src="~/images/clientes-lacor-jobelsa.png">
                    </div>
                </div>
            </div>

        </div>
</section>

