﻿

@model PL.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="product" class="mainSection">
    <div class="mainHead">
        <h1>Users</h1>
    </div>
    <div id="productInputs">
        @Html.ValidationSummary(false)

        @using (Html.BeginForm("Register", "Authen", FormMethod.Post, new { @class = "col s12", @name = "formInput" }))
        {

            <div id="productButtons">
                    <a href="#" id="add" class="waves-effect waves-light btn-large" onclick="document.forms['formInput'].submit(); return false;"><i class="material-icons left">add</i>add</a>
                    <a id="remove" class="waves-effect waves-light btn-large" ><i class="material-icons left">remove</i>remove</a>
                    <a id="edit" class="waves-effect waves-light btn-large"><i class="material-icons left">edit</i>edit</a>
            </div>

            @Html.AntiForgeryToken()
            <div class="row">
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @id = "project2", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.UserName, "")
                    @Html.LabelFor(model => model.UserName)
                </div>
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "project2", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Password, "")
                    @Html.LabelFor(model => model.Password)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "project2", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Name, "")
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @id = "project2", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.SurName, "")
                    @Html.LabelFor(model => model.SurName)
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    @Html.DropDownListFor(model => model.Privlage, new SelectList(ViewBag.plist), htmlAttributes: new { @class = "form-control" })
                    @Html.LabelFor(model => model.Privlage, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
        }
    </div>

    <div id="productTable">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <td>
                        <input type="checkbox" id="checkAll2" />
                        <label for="checkAll2">check all</label>
                    </td>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>User name</th>
                    <th>Password</th>
                    <th>Privileges</th>

                </tr>
            </thead>

            <tbody>
            @foreach (PL.Models.Data.UserModel pouz in ViewBag.Pouzivatelia)
            {

             <tr>
                <td>
                    <input type="checkbox" id="checkObject-@pouz.Id.ToString()" onclick="" />
                    <label for="checkObject-@pouz.Id.ToString()">check @pouz.Id</label>

                    
                </td>

                <td>
                    @Html.DisplayFor(modelitem => pouz.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelitem => pouz.SurName)
                </td>

                <td>
                    @Html.DisplayFor(modelitem => pouz.Account)
                </td>

                <td>
                    @Html.DisplayFor(modelitem => pouz.Password)
                </td>

                <td>
                    @if (pouz.Privilage == Privilages.User)
                    {
                        <text>User</text>
                    }
                    else if (pouz.Privilage == Privilages.Supervisor)
                    {
                        <text>Supervisor</text>
                    }
                    else if (pouz.Privilage == Privilages.Admin)
                    {
                        <text>Admin</text>
                }
                </td>
            </tr>


            }
            </tbody>
       </table>
    </div>
</section>


    }
