html,body{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    /*background: url("images/background2.jpg");
    */background-size: cover;
    padding: 0;
    margin: 0;
    font-size: 16px;
}


header{
    position: fixed;
    width: 100%;
    z-index: 999;
}

section{
    padding-top: 7em;
    height: auto;
}

.table{
    display: table;
    width: 100%;
    height: 100%;
}
.tableCell{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.oneHalf {
    width: 49%;
    height: auto;
    display: inline-block;
    position: relative;
    margin: 0 auto;
}
.right{
    float: right;
}
.left{
    float: left;
}

#logoContainer{
    width: 100%;
    height: 100%;
    font-family: 'Julius Sans One', sans-serif;
    position: relative;
}
#logoContainerHead {
    background: rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    height: 5em;
    -webkit-box-shadow: -8px 35px 35px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 35px 35px -25px rgba(0, 0, 0, 0.75);
    box-shadow: -8px 35px 35px -25px rgba(0, 0, 0, 0.75);
    position: relative;
}

#logoContainerHead h1{
    margin: 0;
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
    line-height: 2.9em;
}

#desktopLogout i, #desktopLogout p{
    float: left;
}
#desktopLogout p{
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
#desktopLogout i{
    font-size: 2.5em!important;
    line-height: 2.5em;
    padding-right: 7%;
    cursor: pointer;
}
#desktopLogout:hover i, #desktopLogout:hover p{
    color: indianred;
}
#userName{
    cursor: none;
    padding-left: 12%;
}
#userName:hover a{
    background: none;
}
#userName p, #userName i{
    color: #3C93D5;
}
#userName p {
    font-weight: 700;
    letter-spacing: 1px;
}
#logoContainer hr{
    border-color: transparent;
}
#imageContainer{
    position: static;
    width: 100%;
    height: 8em;
    bottom: 0;


    background: rgba(255,255,255,0.6);
}
#imageContainer img{
    text-align: center;
    margin: 0 auto;
    padding: 0 2%;
}
#autsys{
    width: 260px;
}
#jobelsa{
    width: 280px;
}
#formContainer{
    z-index: 100;
    height: auto;
    width: 28em;
    margin: 3em 15em;

    font-size: 1.2em;
    background: rgba(1,1,1,0.7);
    -webkit-box-shadow: 0px 0px 76px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 76px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 76px -12px rgba(0,0,0,0.75);
}
#logoMain {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 3em

}
#logoMainContent {
    margin: 7.5em 16em;
    width: 20em;

}
#logoMain img{
    width: 17em;

}
#loginHead{
    height: 20%;
    background: black;
    color: whitesmoke;
}
#loginHead .tableCell{
    vertical-align: middle!important;
}
#loginHead h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 2em !important;

}
#formContainer form{
    height: 80%;
    margin-top: 44px;
}
#formContainer .inputrow {
    position: relative;
    width: 55%;
    margin: 0 auto;
}
#formContainer .inputrow label {
    position: absolute;
    top: 12px;
    left: 10px;
}
#formContainer .inputrow label:before {
    color: #424242;
    opacity: 0.4;
    -webkit-transition: opacity 300ms 0 ease;
    -moz-transition: opacity 300ms 0 ease;
    transition: opacity 300ms 0 ease;
}
#formContainer input[type="text"],
#formContainer input[type="password"] {
    padding: 10px 12px 10px 32px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: #fff;
    color: #333;
    font-size: 1em;
    font-weight: 300;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: border-color 300ms 0 ease;
    -moz-transition: border-color 300ms 0 ease;
    transition: border-color 300ms 0 ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#formContainer input[type="text"]:focus + label:before,
#formContainer input[type="password"]:focus + label:before {
    opacity: 1;
}
#formContainer input[type="submit"] {
    -webkit-appearance: none;
    height: 40px;
    text-transform: uppercase;
    color: whitesmoke;
    border: 0px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 45%;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}
#buttons{
    padding-bottom: 3%;
    padding-top: 5%;
}
#buttons h1{
    text-align: center;
    color: white;
}
#buttons input{
    font-size: 1.2em;
    margin: 0 auto;
}
#login{
    background-color: #55acee;
    box-shadow: 0px 2px 0px 0px #3C93D5;
}
#continue{
    background-color: #2ecc71;
    box-shadow: 0px 2px 0px 0px #15B358;
}
#login:hover{
    background-color: #6FC6FF;
}
#continue:hover{
    background-color: #48E68B;
}

.background{
    background-color: #48E68B;
}
.userView img{
    width: 90%;
}

.top-nav{
    height: 7em;
    background-color: rgba(1,1,1, 0.8);
    position: relative;
}
.top-nav .container{
    height: 100%;
}
#logo{
    height: 7em;
    background-color: white;
}
.userView{
    background-color: lightgray;
}
.userView img{
    vertical-align: middle;
}
.side-nav .userView{
    padding: 0;
    height: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
nav .nav-wrapper{
    height: 100%;
}
.top-nav h1{
    text-align: center;
    font-size: 2em;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.top-nav h1 br{
    display: none;
}
nav .button-collapse {
    background: none;
}
#nav-mobile{
    overflow-x: hidden;
}

#nav-mobile li a{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}
#nav-mobile li i{
    margin-right: 7%;
}
#nav-mobile li p{
    margin: 0%;
}
header{
    padding-left: 300px;
}
nav .button-collapse {
    position: absolute;
    top: 0;
    left: 3%;
    height: 100%!important;
}
nav i{
    font-size: 3em!important;
}
.mainSection{
    padding-left: 300px;
    overflow: hidden !important;

}
.displayNone {
    display: block;
}
#lines .mainSection{
    overflow: hidden !important;
}
#radioButtons{
    height: 5em;
}
#radioButtons i {
    font-size: 3em;
    line-height: 0.5em;
}

#radioButtons p{
    float: left;
    width: 14.28%;
    margin: 30px 0px;
    text-align: center;
}
#startStop{
    height: 5em;
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    padding-left: 0;
}
#startStop a{
    text-align: center; height:5em ;
}
#startStop a:hover{
    background: black;
}
#start{
    background: limegreen;
}
#stop{
    background: indianred;
}
#lines table, #product table{
    width: 95%;
    margin:0  2.5%;
}
#linen table {
    text-align: center;
}
table tr {
    border-bottom: 5px solid #f5f5f5!important;
}
table td{
    border-radius: 0;
}
.working{
    background: rgba(100,221,23, 0.7);
}
.standby{
    background: rgba(255,152,0, 0.7);
}
.off{
    background: lightgrey;
}
[type="checkbox"]:checked+label:before{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#productButtons, #manageButtons{
    width: 100%;
    text-align: center;
    margin: 3% 0;
}
#productButtons a:hover, #manageButtons a:hover{
    background: black;
}
#add, #add2{
    background: dodgerblue;
}
#remove, #remove2{
    background: indianred;
}
#edit, #edit2{
    background: yellowgreen;
}
#productInputs, #manageInputs{
    width: 90%;
    margin: 0 auto;
}
.range-field{
    padding-top: 5px!important;
    position: relative;
}
#rangeShow{
    position: absolute;
    width: 2em;
    height: 2em;
    left:92%;
    color: black;
    font-size: 1.1em;
    line-height: 2em;
}

table thead{
    background-color: dimgrey;
    color: whitesmoke;
    text-transform: uppercase;

}

table thead label{
    color: whitesmoke;
}


#nav-mobile li.search .search-wrapper {
    transition: margin .25s ease;
}

#nav-mobile li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#nav-mobile li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}
.search{
    margin: 6% 0;
}
.mainHead h1{
    font-size: 2em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.fontIcon {
    display: inline-block;
    margin-top: 10px;
    margin-left: 22%;
    font-size: 40px;
    transition: all ease-in-out 0.3s;
}
.fontIcon:hover{
    cursor: pointer;
    font-size: 45px
}
.oppLayer {
    opacity: 0.2;
}
.noneD {
    display: none;
}
#closePick {
    position: absolute;
    color: white;
    width: 5%;
    height: 5%;
    margin-top: 0.5em;
    margin-left: 0.5em;
    background: transparent;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
}
#closePick:hover {
    background-color: #f5f5f5;
    color: black;
}
.pickbuttons {
}
.pickbuttons * {
    display: inline-block;
}
.pickbuttons p {
    font-size: 1.1em;
}
.numPickButton {
    margin: auto 0em 1em 1.5em;
    width:auto;
    padding-left: 2em;
    transition: all ease-in-out 0.3s;
}

.numPickButton:hover {
    cursor: pointer;
    background-color: dimgray;
    color: #f5f5f5;
}
#numberPick{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.8);
}
#pickerContent1, #pickerContent2 {
    padding-left: 30%;
    padding-right: 30%;
    margin: 10em auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    line-height: 3em;
    height: auto;
    color: black;
}

.contentNumbers1 ,.contentNumbers2 {
    width: 3em;
    display: inline-block !important;
    margin-right: 1em;
    margin-bottom: 1em;
}
#screenLogo {
    width: 100%;
    height: auto;
}
#screenLogoContent {
    margin: 1em auto 0;
    width: 8em;
}
#screenLogo img{
    width: 8em;

}
#HalfInContent {
    width: 100%;
    height: auto;
    
}
.contentNumbers1:hover, .contentNumbers2:hover {
    cursor: pointer;
    background-color: transparent;

    color: #f5f5f5;
}
::-webkit-scrollbar
{
    width: 5px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1024px) {
    #screenLogo {
        display: none;
    }
}

@media screen and (max-width: 1660px) {
    #formContainer {
        margin: 7em 15em;
    }
    #logoMain {
        margin:0 auto;
    }
}
@media screen and (max-width: 1024px){
    #logoContainer{
        width: 100%;
    }
    [type="radio"]:not(:checked)+label,
    [type="radio"]:checked+label {
        padding-left: 23px;
    }
    .oneHalf {
        width: 100%;
        height: auto;
    }

    #formContainer {
        margin: 1em auto;
    }
    #logoMain {
        margin: 10em auto;
    }

}
@media only screen and (max-width: 992px){
    header, .mainSection{
        padding-left: 0;
    }
    .oneHalf {
        width: 100%;
        height: 50%;
    }

    #formContainer {
        margin: 1em auto;
    }
    #logoMain {
        margin: 10em auto;
    }
}

@media only screen and (min-width: 551px) and (max-width: 767px){
    .top-nav h1 {
        font-size: 1.5em;
    }
    .numPickButton {
        margin-left: 1em;
        width: 5em;
    }
    .pickbuttons .btn,.pickbuttons .btn-large,.pickbuttons .btn-flat{
        padding: 0;
    }
    #pickerContent1, #pickerContent2 {
        padding: 5em;
        margin-top: 7em;
    }
    .oneHalf {
        width: 100%;
        height: 50%;
    }

    #formContainer {
        margin: 1em auto;
    }
    #logoMain {
        margin: 10em auto;
    }
}

@media only screen and (max-width: 550px) {
    .top-nav h1 {
        font-size: 2.1em;
        text-align: center;
    }

    .top-nav h1 br {
        display: block;
    }

    .btn-large {
        width: 45%;
        margin-top: 2%;
    }
    #pickerContent1, #pickerContent2 {
        padding: 5em;
        margin-top: 7em;
    }
    .input-field, .range-field{
        width: 100%!important;
    }
    .oneHalf {
        width: 100%;
        height: 50%;
    }

}
@media only screen and (min-width: 400px) and (max-width: 550px){
    nav .button-collapse {
        left: 0%;
    }
    #pickerContent1, #pickerContent2 {
        padding: 10em;
        margin-top: 7em;
    }
    .oneHalf {
        width: 100%;
        height: 50%;
    }

    #formContainer {
        margin: 1em auto;
    }
    #logoMain {
        margin: 10em auto;
    }
}
@media only screen and (max-width: 399px){

    nav .button-collapse {
        left: -5%;
    }
    #pickerContent1, #pickerContent2 {
        padding: 5em;
        margin-top: 7em;
    }
    .oneHalf {
        width: 50%;
        height: auto;
    }

}

/*login*/


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 15px;
    }
    .oneHalf {
        width: 100%;
        height: 50%;
    }
    #logoHalf {
        display: none;
    }
}
@media only screen and (min-width: 551px) and (max-width: 767px){
    body {
        font-size: 15px;
    }
    .oneHalf {
        width: 100%;
        height: 50%;
    }
    #loginHead {
        height: 15%;

    }
    #formContainer{
        width: 85%;
    }

    #radioButtons p {

        width: 100%;
        height: 5em;
        margin: 0;
        line-height: 5em;
    }
    .displayNone {
        display: none;
    }
    #pickerContent1, #pickerContent2 {
        padding: 5em;
        margin-top: 7em;
    }
    #logoHalf {
        display: none;
    }
}

@media only screen and (max-width: 550px){
    body{
        font-size: 12px;
    }
    .oneHalf {

        width: 100%;
        height: 50%;
    }
    #logoHalf {
        display: none;
    }
    #logoContainerHead h1 {
        font-size: 1.3em;
        line-height: 3.9em;
    }
    #formContainer{
        width: 100%!important;
    }
    #formContainer .inputrow {
        width: 81%;
    }
    #imageContainer {
        height: 13em;
    }
    #imageContainer img {
        text-align: center;
        margin: 0 auto;
        padding: 2%;
    }
    #jobelsa {
        width: 229px;
    }
    #formContainer input[type="submit"]{
        width: 60%;
    }
    #imageContainer{
        margin-top: 15%;
    }
    #radioButtons p {

        width: 100%;
        height: 5em;
        margin: 0;
        line-height: 5em;
    }
    #pickerContent1, #pickerContent2 {
        padding: 5em;
        margin-top: 7em;
    }
    .displayNone {
        display: none;
    }
    #screenLogo img {
        width: 4em;
        margin-left: 2em;
    }
    #imageContainer {
        bottom: -14em;
    }
}