﻿html,body{
    height: 100%;
    width: 100%;
    /*background: url("images/background2.jpg");
    */background-size: cover;
    padding: 0;
    margin: 0;
    font-size: 15px;
    overflow: hidden;
}
.table{
    display: table;
    width: 100%;
    height: 100%;
}
.tableCell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.right{
    float: right;
}
.left{
    float: left;
}

#logoContainer{
    float: right;
    width: 100%;
    height: 100%;
    font-family: 'Julius Sans One', sans-serif;
    position: relative;
}
#logoContainerHead {
    background: rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    height: 5em;
    -webkit-box-shadow: -8px 35px 35px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 35px 35px -25px rgba(0, 0, 0, 0.75);
    box-shadow: -8px 35px 35px -25px rgba(0, 0, 0, 0.75);
}

#logoContainerHead h1{s
    margin: 0;
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
    line-height: 2.9em;
}
#logoContainer hr{
    border-color: transparent;
}
#imageContainer{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
#imageContainer img{
    display: inline-block;
    vertical-align: top;
}
#autsys{
    width: 200px;
    padding-top: 8.3%;
}
#jobelsa{
    width: 270px;
}
#formContainer{
    height: 25em;
    width: 29em;
    margin: 0 auto;
    margin-top: 3%;
    font-size: 1.2em;
    background: wheat;
    background: #424242;
    -webkit-box-shadow: 0px 0px 76px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 76px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 76px -12px rgba(0,0,0,0.75);
}
#loginHead{
    height: 20%;
    background: black;
    color: whitesmoke;
}
#loginHead .tableCell{
    vertical-align: middle!important;
}
#loginHead h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
#formContainer form{
    height: 80%;
    margin-top: 46px;
}
#formContainer .inputrow {
    position: relative;
    width: 55%;
    margin: 0 auto;
}
#formContainer .inputrow label {
    position: absolute;
    top: 12px;
    left: 10px;
}
#formContainer .inputrow label:before {
    color: #424242;
    opacity: 0.4;
    -webkit-transition: opacity 300ms 0 ease;
    -moz-transition: opacity 300ms 0 ease;
    transition: opacity 300ms 0 ease;
}
#formContainer input[type="text"],
#formContainer input[type="password"] {
    padding: 10px 12px 10px 32px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: #fff;
    color: #333;
    font-size: 1em;
    font-weight: 300;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: border-color 300ms 0 ease;
    -moz-transition: border-color 300ms 0 ease;
    transition: border-color 300ms 0 ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#formContainer input[type="text"]:focus + label:before,
#formContainer input[type="password"]:focus + label:before {
    opacity: 1;
}
#formContainer input[type="submit"] {
    -webkit-appearance: none;
    height: 40px;
    text-transform: uppercase;
    color: whitesmoke;
    border: 0px;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 45%;
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}
#buttons{
    padding-top: 5%;
}
#buttons h1{
    text-align: center;
    color: white;
}
#buttons input{
    font-size: 1.2em;
    margin: 0 auto;
}
#login{
    background-color: #55acee;
    box-shadow: 0px 2px 0px 0px #3C93D5;
}
#continue{
    background-color: #2ecc71;
    box-shadow: 0px 2px 0px 0px #15B358;
}
#login:hover{
    background-color: #6FC6FF;
}
#continue:hover{
    background-color: #48E68B;
}

.background{
    background-color: #48E68B;
}
.userView img{
    width: 94%;
}

.top-nav{
    height: 7em;
    background-color: rgba(1,1,1, 0.8);
    position: relative;
}
.container{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
nav .nav-wrapper{
    height: 100%;
}
.top-nav h1{
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.top-nav form{
    position:absolute;
    padding: 2%;
    right: 0%;
    top: 0%;
    text-align: center;
    font-size: 1.5em;
    line-height: 0.3em;
    margin: 0;
    width: 20%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

.nav-a{
 position:absolute;
    padding: 2%;
    right: 0%;
    top: 0%;
    text-align: center;
    font-size: 1.5em;
    line-height: 0.3em;
    margin: 0;
    width: 20%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

header{
    padding-left: 300px;
}
nav .button-collapse {
    position: absolute;
    top: 0;
    left: 3%;
    height: 100%!important;
}
nav i{
    font-size: 3em!important;
}
.mainSection{
    padding-left: 300px;
}
#radioButtons p{
    float: left;
    width: 25%;
    margin: 30px 0px;
    text-align: center;
}
#startStop{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}
#startStop a:hover{
    background: black;
}
#start{
    background: dodgerblue;
}
#stop{
    background: indianred;
}
#lines table, #product table{
    width: 95%;
    margin:0  2.5%;
}
#linen table {
    text-align: center;
}
table td{
    border-radius: 0;
}
.working{
    background: rgba(100,221,23, 0.7);
}
.standby{
    background: rgba(255,152,0, 0.7);
}
.off{
    background: rgba(239,83,80,1)
}
[type="checkbox"]:checked+label:before{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#productButtons, #manageButtons{
    width: 100%;
    text-align: center;
    margin: 3% 0;
}
#productButtons a:hover, #manageButtons a:hover{
    background: black;
}
#add, #add2{
    background: dodgerblue;
}
#remove, #remove2{
    background: indianred;
}
#edit, #edit2{
    background: yellowgreen;
}
#productInputs, #manageInputs{
    width: 90%;
    margin: 0 auto;
}
.range-field{
    padding-top: 5px!important;
}
#lines{
    display: block;
}
#product{
    display: none;
}
#manageLines{
    display: none;
}

#nav-mobile li.search .search-wrapper {
    transition: margin .25s ease;
}

#nav-mobile li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
}

#nav-mobile li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}
.search{
    margin: 6% 0;
}
.mainHead h1{
    font-size: 2em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#logo{
    background: rgba(255,255,255,0.6);
}
footer{
    position: absolute;
    bottom: 0;
    padding-left: 300px;
    width: 100%;
}
#footerContainer {
    width: 100%;
    text-align: center;
}



 @media screen and (max-width: 1024px){
    #logoContainer{
        width: 94%;
    }
}

        @media only screen and (max-width: 892px){
            header, .mainSection{
                padding-left: 0;!important
            }

    
    }