﻿@model PL.Models.ProjectModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="product" class="mainSection">
    <div class="mainHead">
        <h1>Projects</h1>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="productInputs">
            <h4 class="center">Edit</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @id = "project2", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Title, "")
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Project_Number, new { htmlAttributes = new { @id = "project2", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Project_Number, "")
                    @Html.LabelFor(model => model.Project_Number)
                </div>
            </div>
            <div class="row input-field">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @id = "description", @type = "text", @class = "validate" } })
                @Html.ValidationMessageFor(model => model.Description, "")
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="row" id="productButtons">
                    <input type="submit" value="Save" class="waves-effect waves-light btn btn-large" />
            </div>
        </div>

        <div class="row center">
            @Html.ActionLink("Back to projects", "Projects")
        </div>
    }

    

</section>
