﻿


@model  PL.Models.ProjectModel

@{
    ViewBag.Title = "Procejct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    @{int val = 0; }

    $('#remove').click(function() {
        var url;
        var table = document.getElementById("ProjTable");
        checkboxes = table.getElementsByTagName("input");
        for( var indexCheck = 1; indexCheck < checkboxes.length; indexCheck++){
            if (checkboxes[indexCheck].checked) {
                var index = checkboxes[indexCheck].value;
                @val = index;
                url = '@Url.Action("Delete", "Projects", new { id = val })';
                break;
            }
        }
        window.location.href = url;
    });

    function Del(){
        var url;
        var table = document.getElementById("ProjTable");
        checkboxes = table.getElementsByTagName("input");
        for( var indexCheck = 1; indexCheck < checkboxes.length; indexCheck++){
            if (checkboxes[indexCheck].checked) {
                var index = checkboxes[indexCheck].value;
                @val = index;
                url = '@Url.Action("Delete", "Projects", new { id = val })';
                break;
            }
        }
        window.location.href = url;
    }

    $('#edit').click(function() {
        var url;
        var table = document.getElementById("ProjTable");
        checkboxes = table.getElementsByTagName("input");
        for( var indexCheck = 1; indexCheck < checkboxes.length; indexCheck++){
            if (checkboxes[indexCheck].checked) {
                var index = checkboxes[indexCheck].value;
                @val = index;
                url = '@Url.Action("Edit", "Projects", new { id = val })';
                break;
            }
        }
        window.location.href = url;
    });

    function Edit(){
        var url;
        var table = document.getElementById("ProjTable");
        checkboxes = table.getElementsByTagName("input");
        for( var indexCheck = 1; indexCheck < checkboxes.length; indexCheck++){
            if (checkboxes[indexCheck].checked) {
                var index = checkboxes[indexCheck].value;
                @val = index;
                url = '@Url.Action("Edit", "Projects", new { id = val })';
                break;
            }
        }
        window.location.href = url;
    }

</script>

<section id="product" class="mainSection">
    <div class="mainHead">
        <h1>Projects</h1>
    </div>


    <div id="productInputs">
        @Html.ValidationSummary(false)

        @using (Html.BeginForm("Projects", "Projects", FormMethod.Post, new { @class = "col s12", @name = "formInput" }))
        {

            <div id="productButtons">

                <a href="#" id="add" class="waves-effect waves-light btn-large" onclick="document.forms['formInput'].submit(); return false;"><i class="material-icons left">add</i>add</a>

                <a href="#" onclick="Del()" id="remove" class="waves-effect waves-light btn-large" ><i class="material-icons left">remove</i>remove</a>

                <a href="#" onclick="Edit()" id="edit" class="waves-effect waves-light btn-large"><i class="material-icons left">edit</i>edit</a>
            </div>

            @Html.AntiForgeryToken()
            <div class="row">
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @id = "project2", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Title, "")
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Project_Number, new { htmlAttributes = new { @id = "project2", @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Project_Number, "")
                    @Html.LabelFor(model => model.Project_Number)
                </div>
            </div>
            <div class="row input-field">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @id = "description", @type = "text", @class = "validate" } })
                @Html.ValidationMessageFor(model => model.Description, "")
                @Html.LabelFor(model => model.Description)
            </div>

        }
    </div>

    <div id="productTable">
        <table id="ProjTable" class="striped responsive-table">
            <thead>
                <tr>
                    <td>
                        <input type="checkbox" id="checkAll2" />
                        <label for="checkAll2">check all</label>
                    </td>
                    <th>Title</th>
                    <th>Project number</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PL.Models.ProjectModel proj in ViewBag.Projekty)
            {
                    <tr>
                        <td>
                            <input type="checkbox" value="@proj.Id.ToString()" id="checkObject-@proj.Id.ToString()" onclick="" />
                            <label for="checkObject-@proj.Id.ToString()">check @proj.Id</label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => proj.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => proj.Project_Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => proj.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</section>
