﻿


@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@helper AddId(int id) { 
    ViewBag.Selected.Add(id);
}

@helper SubId(int id) { 
    ViewBag.Selected.Remove(id);    
}

@helper ChboxAll() { 
    foreach(var it in Model)
    {
            ViewBag.Selected.Add(it.Line_id);
    }
}

@helper UnChboxAll() { 
    foreach (var it in Model)
    {
        ViewBag.Selected.Remove(it.Line_id);
    }
}




@*
<script>
    var toogle = false;


    function ChBox(value){
        g = document.getElementById(checkAll);
        if (g.checked) {
            @ViewBag.Idenx - value
            @AddId(Convert.ToInt16(ViewBag.Index))
        }else{
            @ViewBag.Idenx - value
            @SubId(Convert.ToInt16(ViewBag.Index))
        }
        TogleButtons();
    };

    function TogleButtons(){
        var blog = document.getElementById("startStop");
        if(toogle == false){
            blog.style.visibility = "hidden";
            toogle = true;
        }else{
            blog.style.visibility = "visible";
            toogle = false;
        }
    };
   
</script>
*@
<section id="lines" class="mainSection">

    <form id="radioButtons" action=@Url.Action()>
        
            <p id="closeClick">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </p>
            <p class="closable displayNone">
                @if(ViewBag.Filt == "all")
                {
                <input class="with-gap" name="group1" type="radio" id="test2" checked onchange="location.href='@Url.Action("Index", "Settings", new { filter = "all", sft = ViewBag.Shift })'" />
                <label for="test2">All</label>
                }
                else
                {
                <input class="with-gap" name="group1" type="radio" id="test2" onchange="location.href='@Url.Action("Index", "Settings", new { filter = "all", sft = ViewBag.Shift })'" />
                <label for="test2">All</label>
                }
            </p>

            <p class="closable displayNone">
                @if(ViewBag.Filt == "On")
                {
                <input class="with-gap" name="group1" type="radio" id="test3" checked onchange="location.href='@Url.Action("Index", "Settings", new { filter = "all", sft = ViewBag.Shift })'" />
                <label for="test3">Working</label>
                }
                else
                {
                <input class="with-gap" name="group1" type="radio" id="test3" onchange="location.href='@Url.Action("Index", "Settings", new { filter = "On", sft = ViewBag.Shift })'" />
                <label for="test3">Working</label>
                }

            </p>

            <p class="closable displayNone">
                @if(ViewBag.Filt == "StnBy")
                {
                <input class="with-gap" name="group1" type="radio" id="test4" checked onchange="location.href='@Url.Action("Index", "Settings", new { filter = "all", sft = ViewBag.Shift })'" />
                <label for="test4">Standby</label>
                }
                else
                {
                <input class="with-gap" name="group1" type="radio" id="test4" onchange="location.href='@Url.Action("Index", "Settings", new { filter = "StnBy", sft = ViewBag.Shift })'" />
                <label for="test4">Standby</label>
                }

            </p>

            <p class="closable displayNone">
                @if(ViewBag.Filt == "Off")
                {
                <input class="with-gap" name="group1" type="radio" id="test5" checked onchange="location.href='@Url.Action("Index", "Settings", new { filter = "all", sft = ViewBag.Shift })'" />
                <label for="test5">Off</label>
                }
                else
                {
                <input class="with-gap" name="group1" type="radio" id="test5" onchange="location.href='@Url.Action("Index", "Settings", new { filter = "Off", sft = ViewBag.Shift })'" />
                <label for="test5">Off</label>
                }

            </p>

            <p class="closable displayNone">
                @if(ViewBag.Shift == "A")
                {
                <input type="checkbox" class="" id="shiftA" checked onchange="location.href='@Url.Action("Index", "Settings", new { filter = ViewBag.Filt, sft = "N" })'" />
                <label for="shiftA"><strong>Shift A</strong></label>
                }
                else
                {
                <input type="checkbox" class="" id="shiftA" onchange="location.href='@Url.Action("Index", "Settings", new { filter = ViewBag.Filt, sft = "A" })'" />
                <label for=" shiftA"><strong>Shift A</strong></label>
                }

    </p>

    <p class="closable displayNone">
        @if(ViewBag.Shift == "B")
        {
        <input type="checkbox" class="" id="shiftB" checked onchange="location.href='@Url.Action("Index", "Settings", new { filter = ViewBag.Filt, sft = "N" })'" />
        <label for="shiftB"><strong>Shift B</strong></label>
        }
        else
        {
        <input type="checkbox" class="" id="shiftB" onchange="location.href='@Url.Action("Index", "Settings", new { filter = ViewBag.Filt, sft = "B" })'" />
        <label for="shiftB"><strong>Shift B</strong></label>
        }
       
    </p>
    
</form>

    <div id="manageButtons" style="margin-bottom: 5%;">

        <a href="javascript:void(2)" id="start" class="waves-effect waves-light btn-large"  onclick='Start( "@ViewBag.Filt.ToString()" ,  "@ViewBag.Shift.ToString()")'>
            <i class="material-icons left">play_circle_outline</i>start
        </a>
        <script type="text/javascript">
                function Start(f, s) {
                    var url; var ind = "";
                    var table = document.getElementById("SettingTable");
                    checkboxes = table.getElementsByTagName("input");
                    for (var indexCheck = 1; indexCheck < checkboxes.length; indexCheck++) {
                        if (checkboxes[indexCheck].checked) {
                            var index = checkboxes[indexCheck].value;
                            if (index.length > 2) {
                                for (i = 0; i < index.length - 1; i++) {
                                    ind = ind.toString() + index[i].toString();
                                }
                                url = "StartLine" + "?id=" + ind.toString() + "&f=" + f.toString() + "&s=" + s.toString();
                            }
                            else {
                                url = "StopLine" + "?id=" + index[0].toString() + "&f=" + f.toString() + "&s=" + s.toString();
                            }
                            
                            break;
                        }
                    }
                    if(url != "undefinet") window.location.href = url;
                };
        </script>
        <a href="javascript:void(2)" id="stop" class="waves-effect waves-light btn-large"  onclick='Stop("@ViewBag.Filt" , "@ViewBag.Shift")'>
            <i class="material-icons right">stop</i>stop
        </a>
        <script type="text/javascript">
                    function Stop(f ,s ) {
                        var url; var ind = "";
                        var table = document.getElementById("SettingTable");
                        checkboxes = table.getElementsByTagName("input");
                        for (var indexCheck = 1; indexCheck < checkboxes.length; indexCheck++) {
                            if (checkboxes[indexCheck].checked) {
                                var index = checkboxes[indexCheck].value;
                                if (index.length > 2) {
                                    for (i = 0; i < index.length - 1; i++) {
                                        ind = ind.toString() + index[i].toString();
                                    }
                                    url = "StopLine" + "?id=" + ind.toString() + "&f=" + f.toString() + "&s=" + s.toString();
                                }
                                else {
                                    url = "StopLine" + "?id=" + index[0].toString() + "&f=" + f.toString() + "&s=" + s.toString();
                                }
                                break;
                            }
                        }
                        if(url != "undefinet") window.location.href = url
                    };
        </script>
    </div>

    <table class="centered responsive-table" id="SettingTable">
        <thead>
            <tr>
                <th style="text-align: center;padding-left: 2%;">
                    <input type="checkbox" id="checkAll" />
                    <label for="checkAll"><strong>all</strong></label>
                </th>
                <th>
                    Lines
                </th>
                <th>
                    State
                </th>
                <th>
                    Time
                </th>
                <th>
                    Workers
                </th>
                <th>
                    Efficiency
                </th>
                <th>
                    Products
                </th>
                <th>
                    Projects
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (PL.Models.ViewModels.SettingsViewModel item in ViewBag.Settings)
            {

                if (item.State == "OFF")
                {
                    <tr class="off">
                        <td>
                                                       
                            <input type="checkbox" id="checkObject-@item.Line_id.ToString()"  value=@item.Line_id.ToString()/>
                            <label for="checkObject-@item.Line_id.ToString()">check @item.Line_id</label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Line)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Workers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Efficiency)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project)
                        </td>

                    </tr>

                }
                else if (item.State == "ON")
                {
                    <tr class="working">
                        <td>
                            <input type="checkbox" id="checkObject-@item.Line_id.ToString()" value=@item.Line_id.ToString()/>
                            <label for="checkObject-@item.Line_id.ToString()">check @item.Line_id</label>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Line)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Workers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Efficiency)d
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project)
                        </td>

                    </tr>
                }
                else
                {
                    <tr class="standby">
                        <td>
                            <input type="checkbox" id="checkObject-@item.Line_id.ToString()"  value=@item.Line_id.ToString() />
                            <label for="checkObject-@item.Line_id.ToString()">check @item.Line_id</label>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Line)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Workers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Efficiency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project)
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
 

</section>

