﻿
@model PL.Models.ViewModels.SettingsViewModel

@{
    string kokocina = "0";
    ViewBag.Title = "Manage Lines";
    Layout = "~/Views/Shared/_Layout.cshtml";


}                                                      
<section id="lines" class="mainSection">
    <div class="mainHead">
        <h1>Manage Lines</h1>
    </div>


    <div id="manageInputs">
        @Html.ValidationSummary(false)
        @using (Html.BeginForm("ManageLines", "Settings", new { eff = ViewBag.Effecineci }, FormMethod.Post, new { @class = "col s12", @name = "formInput" }))
        {

            <div id="manageButtons">
                <a id="add2" class="waves-effect waves-light btn-large" onclick="document.forms['formInput'].submit(); return false;"><i class="material-icons left">add</i>add</a>
                <a id="remove2" class="waves-effect waves-light btn-large"><i class="material-icons left">remove</i>remove</a>
                <a id="edit2" class="waves-effect waves-light btn-large"><i class="material-icons left">edit</i>edit</a>

            </div>

            @Html.AntiForgeryToken()
            <div class="row">
                <div class="input-field col s6">
                    @Html.DropDownListFor(model => model.Line, new SelectList(ViewBag.lines), htmlAttributes: new { @class = "form-control" })
                    @Html.LabelFor(model => model.Line, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.ValidationMessageFor(model => model.Line, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s6">
                    @Html.DropDownListFor(model => model.Shift, new SelectList(ViewBag.shift), htmlAttributes: new { @class = "form-control" })
                    @Html.LabelFor(model => model.Shift, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.ValidationMessageFor(model => model.Shift, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    @Html.DropDownListFor(model => model.Product, new SelectList(ViewBag.prod), htmlAttributes: new { @class = "form-control" })
                    @Html.LabelFor(model => model.Product, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.ValidationMessageFor(model => model.Product, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Workers, new { htmlAttributes = new { @id = "number", @type = "number", @name = "Number", @value = "this is not number", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Workers, "")
                    @Html.LabelFor(model => model.Workers)
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6 pickbuttons" style="height: 3.8em">
                    @*<div id="minutesPick" class="numPickButton btn">Min: <span id="minutesSpan">0</span> </div>
                        <div id="secondsPick" class="numPickButton btn">Sec: <span id="secondsSpan">0</span></div>*@
                    <label>Time of led</label><br />
                    @Html.EditorFor(model => model.LedTime,  "{0:mm\\:ss}")
                    @Html.ValidationMessageFor(model => model.LedTime, "", new { @class = "text-danger" })

                </div>
                <p class="range-field col s6">
                    <label for="test55">Efficienty (in %)  <span id="rangeShow"></span></label>
                    <input type="range" id="test55" min="0" max="200" oninput="showEfficiency()" />
                    <script>
                        function showEfficiency() {
                            var effVal = $('#test55').val();
                            $('#rangeShow').empty();
                            $('#rangeShow').append(effVal.toString() + "%");
                            $("input[name='Efficiency']").val(effVal.toString());
                            
                        }
                    </script>
                </p>
                @Html.HiddenFor(model => model.Efficiency, new {@value = "100" })
                

            </div>
    }
    </div>
    <table class="centered responsive-table">
        <thead>
            <tr>
                <th style="text-align: center;padding-left: 2%;">
                    <input type="checkbox" id="checkAll" class="checkbox" />
                    <label for="checkAll"><strong>all</strong></label>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Line)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Workers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Efficiency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (PL.Models.ViewModels.SettingsViewModel item in ViewBag.Settings)
            {

                if (item.State == "OFF")
                {
                    <tr class="off">
                        <td>

                            <input type="checkbox" id="checkObject-@item.Line_id.ToString()" onclick="" />
                            <label for="checkObject-@item.Line_id.ToString()">check @item.Line_id</label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Line)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Workers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Efficiency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project)
                        </td>

                    </tr>

                }
                else if (item.State == "ON")
                {
                    <tr class="working">
                        <td>
                            @Html.CheckBox("Check" + @item.Line_id.ToString(), false, htmlAttributes: new { @class = "checkBox", @onclick = "ChBox(@item.Line_id)" })
                            <label for="Check" +@item.Line_id.ToString()></label>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Line)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Workers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Efficiency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project)
                        </td>

                    </tr>
                }
                else
                {
                    <tr class="standby">
                        <td>
                            @Html.CheckBox("Check" + @item.Line_id.ToString(), false, htmlAttributes: new { @class = "checkBox", @onclick = "ChBox(@item.Line_id)" })
                            <label for="Check" +@item.Line_id.ToString()></label>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Line)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Workers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Efficiency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project)
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>


</section>
