﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Production Light Control System</title>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    @System.Web.Optimization.Styles.Render("~/Content/materialize")
    @System.Web.Optimization.Styles.Render("~/Content/font")
    @System.Web.Optimization.Styles.Render("~/Content/main")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/materialize")
    @System.Web.Optimization.Scripts.Render("~/bundles/main")

    <script type="text/javascript">
        function load() {
            setInterval(function () {
                window.location.reload();
            }, 150000);
        }
    </script>
</head>
<body onload="load()">
<header>
        <nav class="top-nav z-depth-2">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @{
                        string Tit = ViewBag.Title;
                    }
                    @Html.ActionLink(Tit, "Index", "Settings", new { area = "" }, new { @class = "navbar-brand" })*@

                <div class="container">
                    <div class="nav-wrapper">
                        <div class="table">
                            <div class="tableCell">
                                <h1>Production Light<br> Control System</h1>
                            </div>
                        </div>
                    </div>
                    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
                        <div class="table">
                            <div class="tableCell">
                                <i class="large material-icons">toc</i>
                            </div>
                        </div>
                    </a>

                </div>

               
        </nav>

        <ul id="nav-mobile" class="side-nav fixed">
            <li id="logo" class="z-depth-3">
                <div class="userView">
                    <div class="table">
                        <div class="tableCell">
                            <img style="height: 6em; width: 6em" src="~/images/PTS_LOGO.png">
                        </div>
                    </div>

                </div>
            </li>


            <li class="search">
                <div class="search-wrapper card">
                    <input id="search">
                    <i class="material-icons">search</i>

                    <div class="search-results"></div>
                </div>
            </li>
            @Html.Partial("_LoginPartial")
            <hr>
            <i class="material-icons fontIcon" id="plusFont">zoom_in</i>
            <i class="material-icons fontIcon" id="minusFont">zoom_out</i>
        </ul>

    </header>

        @RenderBody()
        
    
    @*<footer>
        <div id="footerContainer">
            <p>&copy; @DateTime.Now.Year - AUTSYSautomation</p>
        </div>
    </footer>
   *@
</body>

</html>