﻿

@using Microsoft.AspNet.Identity
@using System.Security.Claims;


@*/Unauthentificated links division   /*@
<li class="active">
    <a href="@Url.Action("Index", "Settings", new {filter = "all" , sft = "N" })">
        <i class="small material-icons">av_timer</i>

        <p>Home</p>
    </a>
</li>

@if (Request.IsAuthenticated)
{
    if (User.Identity.IsAuthenticated)
    {
        ViewBag.Rol = (User.Identity as ClaimsIdentity).FindFirst(ClaimTypes.Role).Value;
    }
    @*Authentificated links divison*@
    <li>
        <a href="@Url.Action("ManageLines", "Settings")">
            <i class="small material-icons">av_timer</i>

            <p>Manage lines</p>
        </a>
    </li>

    if (ViewBag.Rol == Privilages.Supervisor.ToString() || ViewBag.Rol == Privilages.Admin.ToString() || ViewBag.Rol == Privilages.Root.ToString())
    {
        <li>
            <a href="@Url.Action("Projects","Projects")">
                <i class="small material-icons">view_list</i>

                <p>Projects</p>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Products","Products")">

                <i class="small material-icons">markunread_mailbox</i>

                <p>Products</p>
            </a>
        </li>
    }
    if (ViewBag.Rol == Privilages.Admin.ToString() || ViewBag.Rol == Privilages.Root.ToString())
    {
        

        <li>
            <a href="@Url.Action("Register", "Authen")">
                <i class="small material-icons">supervisor_account</i>

                <p>Users</p>
            </a>
        </li>
        <li>
            <a href="#!">
                <i class="small material-icons">trending_up</i>

                <p>Statistics</p>
            </a>
        </li>
    }
    if (ViewBag.Rol == Privilages.Root.ToString())
    {
        <li>
            <a href="#!">
                <i class="small material-icons">settings_remote</i>

                <p>Device</p>
            </a>
        </li>
    }
}

<li>
    <hr>
</li>
<li>
    <a href="#!">
        <i class="small material-icons">live_help</i>

        <p>Help</p>
    </a>
</li>
<li>
    <a href="#!">
        <i class="small material-icons">info</i>

        <p>About</p>
    </a>
</li>
<li>
    <hr>
</li>


@if (Request.IsAuthenticated)
{
    <li id="userName">
        <a href="#!">
            <i class="small material-icons">perm_identity</i>

            <p>@User.Identity.GetUserName()</p>
        </a>
    </li>

        <li>
            <a href="@Url.Action("LogOut", "Authen")">
                <i class="small material-icons">input</i>

                <p>logout</p>
            </a>
        </li>

}
else
{
    <li>
        <a href="@Url.Action("Login", "Authen")">
            <i class="small material-icons">input</i>

            <p>Login</p>
        </a>
    </li>

}
