﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Production Light Control System</title>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <meta name="description" content="The description of my page" />
</head>
<body>

    @RenderBody()

    <!--
        <footer style="position:fixed;bottom:0px;z-index:100;width:100%;height:3em;background-color:#CCCBCB;line-height:1.5em;">
        <p style="padding:0;margin:0;text-align:center">Production Lights Control system by AUTSYS automation<br /> &copy; @DateTime.Now.Year - All rights reserved</p>
    </!--footer>
     -->
</body>
</html>

