﻿@model PL.Models.Data.DeviceModel
@{
    ViewBag.Title = "Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="product" class="mainSection">
    <div class="mainHead">
        <h1>Devices</h1>
    </div>


    <div id="productInputs">
        @Html.ValidationSummary(false)

        @using (Html.BeginForm("Devices", "Devices", FormMethod.Post, new { @class = "col s12", @name = "formInput" }))
        {

            <div id="productButtons">

                <a href="#" id="add" class="waves-effect waves-light btn-large" onclick="document.forms['formInput'].submit(); return false;"><i class="material-icons left">add</i>add</a>

                <a id="remove" class="waves-effect waves-light btn-large"><i class="material-icons left">remove</i>remove</a>
                <a id="edit" class="waves-effect waves-light btn-large"><i class="material-icons left">edit</i>edit</a>
            </div>

            @Html.AntiForgeryToken()
            <div class="row">
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new {  @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Title, "")
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Mask, new { htmlAttributes = new {@type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Mask, "")
                    @Html.LabelFor(model => model.Mask)
                </div>
            </div>  

        }
    </div>

    <div id="productTable">
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <td>
                        <input type="checkbox" id="checkAll2" />
                        <label for="checkAll2">check all</label>
                    </td>
                    <th>Title</th>
                    <th>Device mask</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PL.Models.Data.DeviceModel device in ViewBag.Devices)
            {
                var indexer = 0;
                    <tr>
                        <td>

                            <input type="checkbox" id="checkObject-@device.Id.ToString()" onclick="" />
                            <label for="checkObject-@device.Id.ToString()">check @device.Id</label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => device.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => device.Mask)
                        </td>
                        <td>
                            @if (device.STATUS)
                            {
                                <text>On</text>
                            }
                            else
                            {
                                <text>Off</text>
                            }
                        </td>
                    </tr>
                    indexer++;
                }
            </tbody>
        </table>
    </div>

</section>

