﻿@model PL.Models.Data.DeviceModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="product" class="mainSection">
    <div class="mainHead">
        <h1>Devices</h1>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="productInputs">
            <h4 class="center">Edit</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="row">
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Title, "")
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.Mask, new { htmlAttributes = new { @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.Mask, "")
                    @Html.LabelFor(model => model.Mask)
                </div>
            </div>  

            <div class="row">
                <div class="input-field col s6">
                    @Html.EditorFor(model => model.STATUS, new { htmlAttributes = new { @type = "text", @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.STATUS, "")
                    @Html.LabelFor(model => model.STATUS)
                </div>
            </div>  
           

            <div class="row" id="productButtons">
                <input type="submit" value="Save" class="waves-effect waves-light btn btn-large" />
            </div>
        </div>

        <div class="row center">
            @Html.ActionLink("Back to devices", "Devices")
        </div>
    }

    

</section>